.card{
    background-color: red;
    color: #fff;
}

ul>li{
    /* list-style: none; */
    margin-bottom: 20px;
    /* cursor: pointer; */
}

ul>li{
    /* list-style: none; */
}


button{
    cursor: pointer;
}

.posts{
    border: 2px solid red;
    margin-bottom: 20px;
    padding: 5px 20px;
    width: 35%;
}

.card{
    margin-bottom: 10px;
    padding: 10px 20px;
    width: 40%;
}